*{
  margin: 0;
  padding: 0;
}

.img-area{
  background-image: url("b3.jpg");
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: fixed;
  
  left: 0;
  right:0;
  z-index: -100;
  filter:blur(5px);
  -webkit-filter:blur(5px);
}
.header-text{
  z-index: 100;
  border: 10px dashed #fff;
  color: white;
  font-size: 24px;
  width: 650px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50,-50%);
  padding: 30px 35px;
}